<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000">
    <title>Martin frondEnd</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <!-- 名字 + 圖 -->
    <div class="bg-success bg-opacity-50 bg-color">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center about-block">
              <img class="d-inline-block me-5 rounded-circle about-photo" src="/assets/images/Martin.jpg" alt="about">
              <p class="display-2">Martin</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 作品牆 -->
    <div class="container my-5">
      <div class="row gy-4">
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="/assets/images/1p-sm.png" class="card-img-top card-img d-block" alt="project1">
            <div class="card-body">
              <h5 class="card-title">指尖上的星空 - 美甲預約介紹網站</h5>
              <ul class="my-3">
                <li>使用 Github 與兩位組員協作完成</li>
                <li>使用 Vite 整合打包上傳功能</li>
              </ul>
              <small>tags: Bootstrap 5, SCSS, Git, RWD</small>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-success d-block mt-2" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="/assets/images/2p-sm.png" class="card-img-top card-img d-block" alt="project2">
            <div class="card-body">
              <h5 class="card-title">7TAO - 活動訂票網</h5>
              <ul class="my-3">
                <li>使用 Bootstrap 5 套件完成網頁上功能</li>
                <li>使用輪播套件 Swiper</li>
              </ul>
              <small>tags: Bootstrap 5, SCSS, Git, RWD</small>
              <a href="/html-week6-eventTicket" class="btn btn-success d-block mt-2" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="/assets/images/3p-sm.png" class="card-img-top card-img d-block" alt="project3">
            <div class="card-body">
              <h5 class="card-title">眼鏡官網</h5>
              <ul class="my-3">
                <li>自製 utils 完成 RWD 版面</li>
                <li>使用 Vite 整合打包上傳功能</li>
              </ul>
              <small>tags: SCSS, Git, RWD</small>
              <a href="/html-week4-glassSite-vite" class="btn btn-success d-block mt-2" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="/assets/images/4p-sm.png" class="card-img-top card-img d-block" alt="project4">
            <div class="card-body">
              <h5 class="card-title">AI 工具王</h5>
              <ul class="my-3">
                <li>自製 RWD 版面</li>
                <li>使用 jQuery 套件</li>
              </ul>
              <small>tags: SCSS, Git, RWD, jQuery</small>
              <a href="/WebCamp2023" class="btn btn-success d-block mt-2" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card shadow-sm">
            <img src="/assets/images/5p-sm.png" class="card-img-top card-img d-block" alt="project5">
            <div class="card-body">
              <h5 class="card-title">網站後台管理介面</h5>
              <ul class="my-3">
                <li>使用 Bootstrap 5 cdn 製作</li>
                <li>使用 Vite 整合打包上傳功能</li>
              </ul>
              <small>tags: Bootstrap 5, SCSS, Git</small>
              <a href="/html-week5-BackendSystem" class="btn btn-success d-block mt-2" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>


    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
