<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000">
    <title>Martin frondEnd</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <!-- 名字 + 圖 -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center py-5">
            <div class="about"></div>
            <p>Martin</p>
          </div>
        </div>
      </div>
    </div>

    <!-- 作品牆 -->
    <div class="container">
      <div class="row gy-4">
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project1">
            <div class="card-body">
              <h5 class="card-title">美甲預約介紹平台 - 指尖上的星空</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project2">
            <div class="card-body">
              <h5 class="card-title">7TAO - 活動訂票網</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project3">
            <div class="card-body">
              <h5 class="card-title">眼鏡官網</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project4">
            <div class="card-body">
              <h5 class="card-title">AI 工具王</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project5">
            <div class="card-body">
              <h5 class="card-title">網站後台管理介面</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="/assets/images/1p-sm.png" class="card-img-top" alt="project6">
            <div class="card-body">
              <h5 class="card-title">PC版個人簡介</h5>
              <p class="card-text mb-3">與兩位組員使用 Github 協作完成</p>
              <a href="https://kakakala.github.io/fingertip-starry-sky/" class="btn btn-primary" target="_blank">前往作品</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
